In [4]:
from fontTools.merge.util import avg_int
from numpy.ma.extras import average


def my_fun(n,m): 
    return lambda x, y: x*y*n*m

#### Crea una funzione che moltiplica un input per n

In [6]:
my_double = my_fun(3,4)

print(my_double(111,222))

295704

### Setto x = 111, y=222, n=3, m=4

In [13]:
def my_fun2():
    global pippo
    pippo=4
    print(pippo)
    
def my_fun3():
    #global pippo
    pippo=5
    print(pippo)

In [14]:
pippo=2
my_fun2()
my_fun3()

4
5

# ESERCIZIO 2

In [1]:
import fruits

In [3]:
mango=fruits.tropical_fruit("mango","yellow","ohio")
mango.print_info()

This is a yellow mango from ohio

# ESERCIZIO SALARIO

In [7]:
employees = [{ "name": "John", "department":"Pork", "salary": 50000 },
             { "name": "Jane", "department":"Pork", "salary": 60000 },
             { "name": "Jack", "department":"Pork", "salary": 70000 },
             { "name": "Jill", "department":"Pork", "salary": 80000 },
             { "name": "Jenny", "department":"Mango", "salary": 1},
             ]
print(sum([x["salary"] for x in employees])/len(employees))
print([x["name"] for x in employees if x["department"]=="Pork"])
minS=min([x["salary"] for x in employees])
maxS=max([x["salary"] for x in employees])
print([x["name"] for x in employees if x["salary"]==minS])
print([x["name"] for x in employees if x["salary"]==maxS])
for employee in employees:
    employee["salary"] = int(employee["salary"] * 1.1) 
print(employees)

52000.2
['John', 'Jane', 'Jack', 'Jill']
['Jenny']
['Jill']
[{'name': 'John', 'department': 'Pork', 'salary': 55000}, {'name': 'Jane', 'department': 'Pork', 'salary': 66000}, {'name': 'Jack', 'department': 'Pork', 'salary': 77000}, {'name': 'Jill', 'department': 'Pork', 'salary': 88000}, {'name': 'Jenny', 'department': 'Mango', 'salary': 1}]